{% extends 'base.html' %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block body %}

<!-- Codigo html especifico desse arquivo -->
<section>
    <h1>Projeto Dualidade</h1>
    <span>um novo jeito de solucionar problemas</span>
</section>
<section>
    <div class="desafios">
        <div class="desafio">
            <h2>Solução de problemas</h2>
            <span></span>
        </div>
        <div class="desafio"></div>
        <div class="desafio"></div>
    </div>
</section>

{% endblock body %}